


<div class="col mb-4">
  <div class="card mx-auto" style="width: 20rem;">
    <div class="card-body">
      <div class="card-headerbg-brown ">
      <h5 class="card-header ">{{name}}</h5>
      <h6 class="card-header mb-2">{{title}}</h6>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">ID: {{id}}</li>
        <li class="list-group-item">Email: {{email}}</li>
        <li class="list-group-item">School: {{school}}</li>
      </ul>
    </div>
  </div>
</div>



